<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <div class="title">
      <ion-button fill="clear"><ion-icon aria-hidden="true" name="close" class="title"></ion-icon></ion-button>
      <ion-title class="title">Programas <br>de Treinos</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-toolbar id="searchbar">
    <ion-input placeholder="Pesquise o treino de sua preferência" class="input-search"></ion-input>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment value="custom">
    <ion-segment-button value="custom">
      <ion-text>TODOS</ion-text>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-text>LANÇAMENTOS</ion-text>
    </ion-segment-button>
    <ion-segment-button value="buttons">
      <ion-text>POPULARES</ion-text>
    </ion-segment-button>
  </ion-segment>

  <ion-grid [fixed]="true">
    <ion-row class="image-table">
      <ion-col size="6" *ngFor="let imagem of imagens"><button (click)="presentAlert()"><img src={{imagem}}/></button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
</ion-footer>